#jumbotron {
  width: 100%;
  height: 100vh;
  margin-left: 15%;
  
}

#text{
  opacity: 0;
  padding: 25px;
  font-size: 22px;
  display: inline-block;
  background: #111;
  font-family: 'Source Sans Pro', sans-serif;
  border: solid 1px #5ce8ff;
  border-radius: 3px;
  position:absolute;
  top: 48%;
  color: #d9e1d3;
  animation: appear 1s ease-in-out forwards 6.4s;
}

.graph-image {
  opacity: 0;
  position: absolute;
  top: 34%;
  left: auto;
  right: 25%;
  z-index: -1;
  transform: scale(1.7);
  animation: appear-img-1 1.5s ease-in-out forwards 6.9s;
}

.graph-image-2 {
  opacity: 0;
  position: absolute;
  top: 31%;
  left: auto;
  right: 0;
  z-index: -1;
  transform: scale(2) rotate(0deg);
  animation: appear-img-2 1.5s ease-in-out forwards 6.9s;
}

@keyframes appear{
  to {
    opacity: 1;
  }
}

@keyframes appear-img-1{
  to {
    opacity: .6;
  }
}
@keyframes appear-img-2{
  to {
    opacity: .4;
  }
}